* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  background: darkgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
}

.calculator {
  width: 350px;
  margin: 50px auto;
  text-align: center;
  border-radius: 35px;
  border: 1px solid #ddd;
  padding: 0.5em;
  background-color: darksalmon;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-column-gap: 10px;
  grid-row-gap: 1em;
}

input[type="text"] {
  width: 100%;
  max-width: 350px;
  padding: 20px;
  font-size: 36px;
  text-align: right;
  margin: 0 auto;
  background-color: #eee;
  box-sizing: border-box;
  border: none;
  border-radius: 35px;
  outline: none;
  grid-column: 1 / -1;

}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4 teclas por linha */
  grid-gap: 10px;
}

button {
  width: 50px;
  height: 50px;
  margin: 7px;
  font-size: 24px;
  border-radius: 35px;
  border: 1px solid #ddd;
  background-color: #555;
  color: white;
}

button:hover {
  border-radius: 35px;
  border: 5px solid;
  border-color: black;
}

#clear {
  background-color: red;
}

#backspace,
#equals {
  background-color: green;
}

.operacao {
  background-color: yellow;
  color: black;

}